//colors
$color-text: var(--color-text);
$color-background: var(--color-background);
$color-gray: var(--color-gray);
$color-primary: var(--color-primary);
$color-primary-dark: var(r-primary-dark);
$color-secondary: var(color-secondary);
$color-accent: var(--color-accent);

//font size
$size-underLink:14px;
$size-link: 16px;
$size-text: 20px;
$size-h1: 72px;
$size-h2: 48px;
$size-h3: 36px;    
