@import './base.css';

#app {
  max-width: var(--bound);
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 8rem;
  font-weight: normal;

  display: grid;
  grid-template-columns: 1fr;
  padding: 0 2rem;
}

a{
  cursor: pointer;
  text-decoration: none;
}

/*
@media screen and (max-width: 420px) {
  html{
     font-size: 1em;
  }
}
@media screen and (max-width: 300px) {
  html{
     word-break: break-all;
  }
}*/