@use "variables" as *;
@use "./base.scss";

#app {
	padding: 0 2rem;
	margin: 0 auto;

	max-width: $max-width;
	width: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	gap: 8rem;
	
	font-weight: normal;

	@media screen and ( max-width: 600px) {
		padding: 0 1rem;
	}
}

a {
	cursor: pointer;
	text-decoration: none;
}

/*
@media screen and (max-width: 420px) {
  html{
     font-size: 1em;
  }
}
@media screen and (max-width: 300px) {
  html{
     word-break: break-all;
  }
}*/