@use "./base.scss";

#app {
	padding: 0 2rem;
	margin: 0 auto;

	max-width: var(--bound);
	width: 100%;

	display: grid;
	grid-template-columns: 1fr;

	font-weight: normal;
}

a {
	cursor: pointer;
	text-decoration: none;
}

/*
@media screen and (max-width: 420px) {
  html{
     font-size: 1em;
  }
}
@media screen and (max-width: 300px) {
  html{
     word-break: break-all;
  }
}*/